apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fakes3pp.name" . }}
  labels:
    {{- include "fakes3pp.labelsShared" . | nindent 4 }}
data:
  {{- if .Values.shared.config.legacyBehaviorInvalidRegionToDefaultRegion }}
  ENABLE_LEGACY_BEHAVIOR_INVALID_REGION_TO_DEFAULT_REGION: "true"
  {{- else }}
  ENABLE_LEGACY_BEHAVIOR_INVALID_REGION_TO_DEFAULT_REGION: "false"
  {{- end }}
  FAKES3PP_METRICS_PORT: "{{ .Values.shared.config.metricsPort }}"
  FAKES3PP_ROLE_POLICY_PATH: "{{ .Values.shared.config.policies.dir }}"
  FAKES3PP_SIGNEDURL_GRACE_TIME_SECONDS: "{{ .Values.shared.config.signedURLGraceTimeSeconds }}"
  FORCE_LOGGING_FOR_REQUEST_ID_PREFIX: "{{ .Values.shared.config.forceLoggingRequestIdPrefix }}"
  FAKES3PP_PROXY_JWT_PRIVATE_RSA_KEY: "{{ .Values.shared.config.jwt.dir }}/{{ .Values.shared.config.jwt.privateKeyFilename }}"
  FAKES3PP_PROXY_JWT_PUBLIC_RSA_KEY: "{{ .Values.shared.config.jwt.dir }}/{{ .Values.shared.config.jwt.publicKeyFilename }}"

  FAKES3PP_S3_BACKEND_CONFIG: "{{ .Values.s3.config.backends.dir }}/{{ .Values.s3.config.backends.filename }}"
  {{- with .Values.s3.config.cors }}
  FAKES3PP_S3_CORS_STRATEGY: "{{ .strategy }}"
    {{- if eq .strategy "static" }}
  FAKES3PP_S3_CORS_STATIC_ALLOWED_ORIGIN: "{{ .staticAllowedOrigin }}"
    {{- end}}
  {{- end }}
  FAKES3PP_S3_PROXY_FQDN: {{ $c := 0 | int }}{{ range .Values.s3.ingress.hosts }}{{ if ne $c 0 }},{{ end }}{{ $c = add1 $c }}{{with .host}}{{ . }}{{end}}{{end}}{{with .Values.s3.service.fqdn}},{{ . }}{{end }}
  {{- if not (eq (int .Values.s3.service.portTLS) (int 0)) }}
  FAKES3PP_S3_PROXY_TLS_CERT_FILE: "{{ .Values.s3.config.tlsDir }}/{{ .Values.s3.config.tlsCertFile }}"
  FAKES3PP_S3_PROXY_TLS_KEY_FILE: "{{ .Values.s3.config.tlsDir }}/{{ .Values.s3.config.tlsKeyFile }}"
  {{- end }}
  FAKES3PP_S3_PROXY_TLS_PORT: "{{ .Values.s3.service.portTLS }}"
  FAKES3PP_S3_PROXY_HTTP_PORT: "{{ .Values.s3.service.port }}"
  FAKES3PP_S3_PROXY_REMOVABLE_QUERY_PARAMS: ^_origin$

  FAKES3PP_STS_PROXY_FQDN: {{ $c := 0 | int }}{{ range .Values.sts.ingress.hosts }}{{ if ne $c 0 }},{{ end }}{{ $c = add1 $c }}{{with .host}}{{ . }}{{end}}{{end}}{{with .Values.sts.service.fqdn}},{{ . }}{{end }}
  FAKES3PP_STS_OIDC_CONFIG: {{ .Values.sts.config.oidc.dir }}/{{ .Values.sts.config.oidc.filename }}
  {{- if not (eq (int .Values.s3.service.portTLS) (int 0)) }}
  FAKES3PP_STS_PROXY_TLS_CERT_FILE: "{{ .Values.sts.config.tlsDir }}/{{ .Values.sts.config.tlsCertFile }}"
  FAKES3PP_STS_PROXY_TLS_KEY_FILE: "{{ .Values.sts.config.tlsDir }}/{{ .Values.sts.config.tlsKeyFile }}"
  {{- end }}
  FAKES3PP_STS_PROXY_TLS_PORT: "{{ .Values.sts.service.portTLS }}"
  FAKES3PP_STS_PROXY_HTTP_PORT: "{{ .Values.sts.service.port }}"
