{{- with .Values.s3.config.backends }}
  {{- if .config }}
kind: Secret
apiVersion: v1
metadata:
  name: "{{ .secretName }}"
stringData:
  "backend-config.yaml": |
    {{- if .default }}
    default: "{{ .default }}"
    {{- end}}
    s3backends:
      {{- range .config }}
      - region: "{{ .region }}"
        endpoint: "{{ .endpoint }}"
        {{- if .capabilities }}
        capabilities:
          {{- toYaml .capabilities | nindent 8 }}
        {{- end}}
        credentials:
          file: "{{ $.Values.s3.config.backends.dir}}/{{ .region}}.yaml"
      {{- end}}

  {{- range .config }}
  "{{ .region}}.yaml": |
    aws_access_key_id:  "{{ .credentials.aws_access_key_id }}"
    aws_secret_access_key: "{{ .credentials.aws_secret_access_key }}"
  {{- end }}

  {{- end }}
{{- end }}
